@model List<TermProject.Models.app>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Home";
}

<div class="container">
    
<div class="row span9" style="margin-left:100px;margin-top:100px">
    <h4 style="margin-left:47px">Applications</h4>
     @foreach (var x in Model)
    {
  <div class="col-sm-6 col-md-3" style="margin-left:25px" >
    <div class="thumbnail">
      <img data-src="holder.js/300x200" src="@x.Icon" alt="...">
      <div class="caption">
      <h4>@x.aname</h4>
        <p><span class="badge">@x.type</span>
            <span class="badge">@x.catagories</span></p>
      </div>
    </div>
  </div>
     }

</div>
    </div>
