@{
    Layout = "~/Views/Shared/_homePageLayout.cshtml";
    ViewBag.Title = "AddApplication";
}
<script>


    function info() {
        var vl = $('#type').val();
        if (vl == "paid") {
            $('#sbtn').hide();
            $('#mn1').empty();
            $('#mnn').append(
                $('#mn1').append(
                "<div class='form-group'>" +
    "<label for='price' class='col-sm-2 control-label'>Price</label>" +
    "<div class='col-sm-10'>" +
      "<input type='text' class='form-control' id=price' name='price' placeholder='5$' required>" +
    "</div>" +
  "</div>" +

  "<div class='form-group' id='sbtn1'>" +
   "<div class='col-sm-offset-2 col-sm-10'>" +
      "<button type='submit' class='btn btn-info'>ADD</button>" +
    "</div>" +
  "</div>"
  )
  );
        }
        else {
            $('#sbtn').hide();
            $('#mn1').empty();
            $('#mnn').append(
                $('#mn1').append(

  "<div class='form-group' id='sbtn1'>" +
   "<div class='col-sm-offset-2 col-sm-10'>" +
      "<button type='submit' class='btn btn-info'>ADD</button>" +
    "</div>" +
  "</div>"
  )
  );
        }
    }


    </script>
<div class="container" id="mn" style="margin-top:100px">
<div class="row span9 well" style="margin-left:250px "  >
   
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="/Details/Add" id ="mnn">
            <div class="form-group">
    <label for="pname" class="col-sm-2 control-label">Application Name</label>
    <div class="col-sm-10">
     <input type="text" class="form-control" id="pname" name="aname" placeholder="Application Name" required />
    </div>
  </div>
        <div class="form-group">
    <label for="file" class="col-sm-2 control-label">Application file</label>
         <div class="col-sm-10">
        <input type="file" id="file" class="form-control" style="width:250px" accept=".apk,application" name="afile" required />
</div>
         </div>

     <div class="form-group">
    <label for="icon" class="col-sm-2 control-label">Icon</label>
         <div class="col-sm-10">
        <input type="file" id="icon" class="form-control" style="width:250px" name="Icon" accept="image/*" required />
</div>
         </div>
        <div class="form-group">
    <label for="sshot" class="col-sm-2 control-label">Screen Shots</label>
         <div class="col-sm-10">
        <input type="file" id="sshot" multiple="multiple" class="form-control" style="width:250px" accept="image/*" required />
</div>
         </div>
 <div class="form-group">
    <label for="dis" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="dis" name="discription" required placeholder="Write Application Details" rows="10" cols="30"></textarea>
    </div>
  </div>
        <div class="form-group">
    <label for="whatsnew" class="col-sm-2 control-label">What's New</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="whatsnew" name="newthing" required placeholder="Write what's new in your Application" rows="8" cols="30"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
        <select id="type" class="form-control" name="type" onchange="info();">
    <option value="free">Free</option>
    <option value="paid">Paid</option>
</select>
    </div>
  </div>


  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Catagories</label>
    <div class="col-sm-10">
      
    <select id="form_catagory" class="form-control" name="catagories">
    <option value="Games">Games</option>
    <option value="Social">Social</option>
    <option value="Business">Business</option>
    <option value="Education">Education</option>
    <option value="Health">Health</option>
</select>
  </div>
      </div>
<div class="form-group">
    <label for="cversion" class="col-sm-2 control-label">Current Version</label>
    <div class="col-sm-10">
     <input type="text" class="form-control" id="cversion" name="currentversion" placeholder="1.0.0" required />
    </div>
  </div>
        <div id="mn1">
            </div>
  <div class="form-group" id="sbtn">
    <div class="col-sm-offset-2 col-sm-10" >
      <button type="submit" class="btn btn-info">ADD</button>
    </div>
  </div>
        
</form>
</div>
    </div>
